# Byte-compiled / optimized / DLL file_system
__pycache__/
*.py[cod]

# Configuration yaml
config.yaml

# Log
*.log*

# Macos
.DS_Store

# Idea
.idea

# .Dat
*.dat

# Models
*.h5

# Images
*.png
*.jpg
*.jpeg
*.gif

